@mixin active-button($main-color, $bck-color, $m-top, $m-bot, $border-color, $padding) {
    color: $main-color;
    background-color: $bck-color;
    border: 1px solid $border-color;
    border-radius: 1.75rem;
    margin-top: $m-top;
    margin-bottom: $m-bot;
    padding: $padding;
    cursor: pointer;
}

@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

%pointer {
    cursor: pointer;
}

%div-center {
    margin-left: auto;
    margin-right: auto;
}

%text-center {
    text-align: center;
}

%reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%complex-back {
    background-color: #0e1a35;
    background-image: url(images/Grid.png), url(images/Graph.png);
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: top, center;
}

* {
    @extend %reset;
}

body {

    header {
        @extend %complex-back;
        height: 100vh;

        nav {
            @extend %div-center;
            width: 95%;

            ul {
                @include flex(row, space-between);
                list-style-type: none;
                color: white;

                .logo {
                    @extend %pointer;
                    padding: 2rem 0;
                }

                div {
                    @include flex(row, space-evenly);
                    width: 50%;

                    .nav-link {
                        @extend %pointer;
                        padding: 4rem 0;
                    }

                    .nav-link:hover {
                        color: #5584ff;
                    }

                    .login-btn {
                        @include active-button(#5584ff, #0e1a35, 3rem, 3rem, #233a72, 1rem 2rem);


                        a:hover,
                        a:active,
                        a {

                            margin: auto 0;
                            color: #5584ff;
                            text-decoration: none;
                        }
                    }

                    .login-btn:hover {
                        background-color: #233a72;
                    }
                }
            }
        }

        .header {
            @extend %div-center;
            @include flex(column, center);

            h1 {
                @extend %text-center;
                font-size: 2rem;
                color: white;
            }

            span {
                @extend %text-center;
                font-size: 1.5rem;
                color: #8492af;
            }

            .invite-btn {
                @extend %div-center, %text-center;
                @include active-button(white, #5584ff, 3rem, 3rem, #233a72, 0.5rem 3rem);
                margin-top: 2rem;
                text-decoration: none;
            }

            .invite-btn:hover,
            .invite-btn:active {
                background-color: #233a72;
            }

        }

        div {

            img {
                position: absolute;
                width: 40%;
                height: 50%;
                left: 0;
                right: 0;
                top: 400px;
                margin: auto;
                box-shadow: 0px 0px 50px 9px rgba(253, 253, 253, 0.1);
            }
        }
    }

    main {
        .icons {
            @include flex(row, space-evenly);
            @extend %div-center;
            width: 85%;
            margin-top: 10rem;

            .card {
                @extend %text-center;

                width: 260px;

                div {
                    @extend %div-center;

                    img {
                        width: 80px;
                        height: 76px;
                        @extend %div-center;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                    }
                }

                span {
                    @extend %text-center;
                    padding-bottom: 0.25rem;
                    font-size: 1.2rem;
                    font-weight: 700;
                }

                p {
                    @extend %text-center;
                    color: #8492af;
                    padding: 1rem 0 4rem 0;
                }

                a:active,
                a {
                    @extend %div-center;
                    @include active-button(black, white, 1.5rem, 1rem, #dadee7, 1rem 2rem);
                    color: black;
                    text-decoration: none;
                    font-weight: 600;
                }

                a:hover {
                    background-color: #8492af;
                }
            }

        }

        .example {
            @include flex(row, space-between);
            @extend %div-center;
            margin-top: 15rem;
            width: 90%;
            height: 70vh;

            .text-content {
                text-align: start;
                width: 50%;
                margin-right: 2rem;
                margin-left: 1rem;


                span {
                    font-size: 2.5rem;
                }

                p {
                    color: #8492af;
                    margin: 1.5rem 0;
                }

                ul {
                    list-style-type: none;

                    li {
                        color: #5584ff;
                        font-size: 1.15rem;

                        span {
                            font-size: 1rem;

                            i {
                                margin-right: 1rem;
                            }
                        }

                    }
                }

            }

            .img-left {

                width: 50%;

                img {
                    position: absolute;
                    right: 0;
                    width: 520px;
                    height: 350px;




                }
            }

        }

        .drag-drop {
            height: 70vh;
            @extend %complex-back;

            .separator{
                @extend %div-center;
                @include flex(row, none);
                width: 90%;

                div{
                    margin-top: 5rem;

                    img{
                        width: 500px;
                        height: 320px;
                    }
                }

                .scroller{
                    margin-right: 5rem;
                    margin-left: 5rem;
                    position: relative;

                    div{
                        margin-top: 3rem;
                    
                        span {
                            font-size: 2rem;
                            color: white;
                        }
    
                        p{
                            color: #8492af;
                            margin-top: 1rem;
                        }
                    }

                    .div-btn{
                        position: absolute;
                        margin-top: 0;
                        bottom: 0;

                        .slide-btn{
                            background: none;
                            color: white;
                            border-radius: 45%;
                            border-color: white;
                            border-width: 1px;
                            padding: 0.10rem 0.25rem;
                            cursor: pointer;
                        }

                        #slide-right{
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}