@mixin active-button($main-color, $bck-color, $m-top, $m-bot, $border-color, $padding) {
    color: $main-color;
    background-color: $bck-color;
    border: 1px solid $border-color;
    border-radius: 1.75rem;
    margin-top: $m-top;
    margin-bottom: $m-bot;
    padding: $padding;
    cursor: pointer;
}

@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin section-div($width) {
    @extend %div-center;
    width: $width;
}

$color-grey-blue: #8492af;

$color-dark-blue: #0e1a35;

$color-light-blue: #5584ff;

$color-medium-blue: #233a72;

$color-grey: #dadee7;

%pointer {
    cursor: pointer;
}

%div-center {
    margin-left: auto;
    margin-right: auto;
}

%text-center {
    text-align: center;
}

%reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%complex-back {
    background-color: $color-dark-blue;
    background-image: url(images/Grid.png), url(images/Graph.png);
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: top, center;
}

%text-title {
    font-size: 3rem;
    font-weight: 100;
}

* {
    @extend %reset;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

body {

    header {
        @extend %complex-back;
        height: 100vh;

        nav {
            @include section-div(90%);

            ul {
                @include flex(row, space-between);
                list-style-type: none;
                color: white;

                .logo {
                    @extend %pointer;
                    padding: 2rem 0;
                }

                div {
                    @include flex(row, space-evenly);
                    width: 50%;

                    .nav-link {
                        @extend %pointer;
                        padding: 4rem 0;

                        a:active,
                        a {
                            color: white;
                            text-decoration: none;
                        }

                        a:hover {
                            color: $color-light-blue;
                        }
                    }

                    .login-btn {
                        @include active-button($color-light-blue, $color-dark-blue, 3rem, 3rem, $color-medium-blue, 1rem 2rem);


                        a:hover,
                        a:active,
                        a {
                            margin: auto 0;
                            color: $color-light-blue;
                            text-decoration: none;
                        }
                    }

                    .login-btn:hover {
                        background-color: $color-medium-blue;
                    }
                }
            }
        }

        .header-div {
            @include section-div(90%);
            @include flex(column, center);


            h1 {
                @extend %text-center, %text-title;
                color: white;
                margin-bottom: 0.5rem;
            }

            span {
                @extend %text-center;
                font-size: 1.5rem;
                color: $color-grey-blue;
            }

            .invite-btn {
                @extend %div-center, %text-center;
                @include active-button(white, $color-light-blue, 3rem, 3rem, $color-medium-blue, 0.5rem 3rem);
                margin-top: 2rem;
                text-decoration: none;
            }

            .invite-btn:hover,
            .invite-btn:active {
                background-color: $color-medium-blue;
            }
        }

        div {

            img {
                position: absolute;
                width: 40%;
                height: 50%;
                left: 0;
                right: 0;
                top: 400px;
                margin: auto;
                box-shadow: 0px 0px 50px 9px rgba(253, 253, 253, 0.1);
            }
        }
    }

    main {

        .icons {
            @include flex(row, space-evenly);
            @include section-div(85%);
            margin-top: 5rem;
            padding-top: 5rem;

            .card {
                @extend %text-center;
                width: 260px;

                div {
                    @extend %div-center;

                    img {
                        @extend %div-center;
                        width: 80px;
                        height: 76px;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                    }
                }

                span {
                    @extend %text-center;
                    padding-bottom: 0.25rem;
                    font-size: 1.2rem;
                    font-weight: 700;
                }

                p {
                    @extend %text-center;
                    color: $color-grey-blue;
                    padding: 1rem 0 4rem 0;
                }

                a:active,
                a {
                    @extend %div-center;
                    @include active-button(black, white, 1.5rem, 1rem, $color-grey, 1rem 2rem);
                    color: black;
                    text-decoration: none;
                    font-weight: 600;
                }

                a:hover {
                    background-color: $color-grey;
                }
            }
        }

        .example {
            @include flex(row, space-between);
            @include section-div(90%);
            margin-top: 15rem;
            height: 70vh;

            .text-content {
                text-align: start;
                width: 50%;
                margin-right: 2rem;
                margin-left: 1rem;


                span {
                    @extend %text-title;
                }

                p {
                    color: $color-grey-blue;
                    margin: 1.5rem 0;
                }

                ul {
                    list-style-type: none;

                    li {
                        color: $color-light-blue;
                        font-size: 1.15rem;
                        margin: 0.5rem 0;

                        span {
                            font-size: 1rem;

                            i {
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }

            .img-left {
                width: 50%;

                img {
                    position: absolute;
                    right: 0;
                    width: 520px;
                    height: 350px;
                }
            }
        }

        .drag-drop {
            @extend %complex-back;
            height: 70vh;

            .separator {
                @include section-div(90%);
                @include flex(row, none);

                div {
                    margin-top: 5rem;

                    img {
                        width: 500px;
                        height: 320px;
                    }
                }

                .scroller {
                    margin-right: 5rem;
                    margin-left: 5rem;
                    position: relative;

                    div {
                        margin-top: 3rem;

                        span {
                            @extend %text-title;
                            color: white;
                        }

                        p {
                            color: $color-grey-blue;
                            margin-top: 1rem;
                        }
                    }

                    .div-btn {
                        position: absolute;
                        margin-top: 0;
                        bottom: 0;

                        .slide-btn {
                            @extend %pointer;
                            background: none;
                            color: white;
                            border-radius: 50%;
                            border-color: white;
                            border-width: 1px;
                            padding: 0.05rem 0.25rem 0.04rem;
                            scale: 1.25;
                        }

                        #slide-right {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }

        .template {
            margin-top: 5rem;
            height: 90vh;

            .template-div {
                @include section-div(80%);

                span {
                    @extend %text-center, %text-title;
                    display: block;
                }

                p {
                    @extend %text-center;
                    color: $color-grey-blue;
                    margin-top: 2rem;
                }

                .specifying-image {
                    position: relative;
                    margin-top: 3rem;
                    background-image: url('images/Screen\ Mockup.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 50vh;
                    @include flex(row, space-between);

                    .layout {
                        margin-top: 2rem;
                        align-self: flex-start;
                        width: 25%;
                        position: relative;

                        span {
                            font-size: 1rem;
                            text-align: left;
                            font-weight: 700;
                        }

                        img {
                            width: 200%;
                            position: absolute;
                            left: 0;
                        }

                        p {
                            text-align: left;
                            margin-top: 2rem;
                        }
                    }

                    .customize {
                        margin-bottom: 4rem;
                        align-self: flex-end;
                        width: 25%;
                        position: relative;

                        span {
                            font-size: 1rem;
                            text-align: right;
                            font-weight: 700;
                        }

                        img {
                            width: 200%;
                            position: absolute;
                            right: 0;
                        }

                        p {
                            text-align: right;
                            margin-top: 2rem;
                        }
                    }
                }
            }

        }

        .pricing {
            height: 100vh;

            .pricing-main {
                @include section-div(80%);
                @include flex(column, center);
                padding-top: 3rem;

                h2 {
                    @extend %text-center, %text-title;
                }

                .pricing-div {
                    @include flex(row, space-around);
                    margin: 4rem 0;

                    div {
                        @extend %text-center, %pointer;
                        width: 240px;
                        height: 250px;
                        box-shadow: 0px 0px 50px 9px rgba(76, 75, 121, 0.15);
                        transition: 0.5s;


                        h4 {
                            margin-top: 1.5rem;
                            margin-bottom: 1rem;
                            font-weight: 500;
                        }

                        span {
                            color: $color-grey-blue;

                            .dollar {
                                font-size: 1rem;
                                font-weight: 500;
                                color: black;
                            }

                            .price {
                                font-size: 2rem;
                                font-weight: 600;
                                color: black;
                            }
                        }

                        ul {
                            margin-top: 1.5rem;
                            list-style-type: none;

                            li {
                                color: $color-grey-blue;
                                font-size: 0.9rem;

                                .fa-circle-check {
                                    color: $color-light-blue;
                                }

                                .fa-circle-xmark {
                                    color: #f83c7b;
                                }
                            }
                        }
                    }

                    div:hover {
                        transform: scale(1.1);
                        transform-origin: center;
                    }
                }

                p {
                    @extend %text-center;
                    width: 70%;
                    color: $color-grey-blue;
                    align-self: center;
                }

                .invite-btn {
                    @extend %div-center, %text-center;
                    @include active-button(white, $color-light-blue, 3rem, 3rem, $color-light-blue, 0.5rem 3rem);
                    margin-top: 2rem;
                    text-decoration: none;
                }

                .invite-btn:hover,
                .invite-btn:active {
                    background-color: $color-medium-blue;
                    border-color: $color-medium-blue;
                }
            }
        }
    }

    footer {
        margin-top: 2rem;
        height: 15vh;
        background-color: $color-dark-blue;

        .footer-div {
            @include section-div(80%);
            align-items: center;
            color: $color-grey-blue;

            ul {
                @include flex(row, space-between);
                list-style-type: none;
                padding-top: 2.5rem;
                font-size: 0.85rem;


                div {
                    @include flex(row, space-around);
                    width: 35%;
                }

                li {
                    display: block;

                    a:active,
                    a {
                        color: $color-grey-blue;
                        text-decoration: none;
                    }

                    a:hover {
                        color: $color-light-blue;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    
}